
nav {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

.imagem-header {
    width: 300px;
    height: auto;
    margin: auto;
}

.titulo-header {
    display: flex;
    flex-direction: column-reverse;
}

.teste {
    background-color: white;
    z-index: 9;
}

form {
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.132);
   margin-bottom: 50px;
   padding: 30px;
   
}

.formulario {
    display: inline-block;
    margin-bottom: 80px;
}

.nome-form, .empresa-form {
    justify-content: space-around;
}

.atras-form img {
    width: 74rem;
    height: 40rem;
    margin-top: 5rem;
    left: 10;
    position: absolute;
    width: 300px;
}

.campo-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.detalhe-curso {

    justify-content: space-around;
}

input[type=submit]{
    color: white;
    background-color: #ff5059;
    border: 0;
    font-weight: 500;

    margin: 3em 4em;
}

.formulario-campos{
    position: relative;
    background-color: white;
}